.grid-container {
  display: grid;
  grid-gap: 1px;
  background-color: purple;
  grid-template-columns: auto auto auto;
  background-color: teal;
  height: 820px;
  width: 852px;


}
.cell {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 95px;
  text-align: center;
  width: 283px;
  height: 273px;
}
h2 {
  display: inline-block;
}
h1{
  margin-left: 320px;
}

.cell:hover{
  background-color: purple;
}
#score-box{

}
.player-score{
  font-size: 40px;
  font-weight: bold;
}
#one-box {
  display: inline-block;
  font-size: 25px;
  text-align: left;
  color: red;
}
#two-box {
  display: inline-block;
  margin-left: 75%;
  text-align: right;
  font-size: 25px;
  color: blue;

}
.cell.red{
  background: red;
}
.cell.blue{
  background: blue;
}
#counter-1{
  display: inline-block;
  text-align: left;
}
#counter-2{
  display: inline-block;
  text-align: right;
  position: absolute; left:40%;
}
.counting{
  display: inline-block;
}
#name-two{
  margin-top: -20px;
  position: absolute; left: 40%;
}
